*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --font:'Bahnschrift Condensed'
}
body{
    background-color: #e8eef2;
    font-family:  'Bahnschrift Condensed';
}
.top{
    position: relative;
    height:90vh;
    width: 100%;  
    overflow: hidden;
}
.slides{
    width: 600%;
    height: 100%;
    animation: slid 40s infinite ease-out;
    display: flex;
}
.title{
    background: url('../imgs/space2.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    width:20%;
    /*position: relative;*/
    color: #c7d3dd;
    transition: .8s;
    /*animation: slid 40s infinite ease-out;*/
}
.title h1{
    font-size: 5rem;
    text-transform: uppercase;
    position: relative;
    top: 30%;
    font-family: 'Stick No Bills', sans-serif;;
    transform: translateY(-30%);
}
.title h1::after{
    content: '';
    margin: 10px auto;
    width: 400px;
    height: 4px;
    background: currentColor;
    display: block;
}
.title p{
    font-size: 1.2em;
    position: relative;
    top: 40%;
    font-family: monospace;
    font-weight: bold;
}
/*sobre*/
.sh{
    /*background-color: #002773;*/
    display: flex;
    width:20%;
}
.p1{
    width: 50%;
    height: 100%;
    background-color: #202020;
}
.p2{
    width: 50%;
    height: 100%;
    background: url('../imgs/blue.jpg');
    /*background-color: #064d8c;*/
}
.so{
    color: #097be0;
    font-size: 4rem;
}
.sot{
    margin-top: 5%;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}
/*áreas*/
.ah{
    background-color: #A1B0AB;
    width:20%;
}
/*especializações*/
.eh{
    background-color: #e8eef2;
    width:20%;
}
/*universidades*/
.uh{
    background-color: #ff9045;
    width:20%;
}
/*pos-graduação*/
.ph{
    background-color: #c7d3dd;
    width:20%;
}
.scontent{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
}
.more{
    cursor: pointer;
    margin-top: 10%;
    width: 100px;
    height: 40px;
    border-radius:20px ;
    text-align: center;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    border: solid #000000 2px ;
    background-color: #097be0;
}
.direct{
    width: 100px;
    color: #02152b;
    text-decoration: none;
    font-weight: bold;
}
/*@keyframes slid{
    0%{margin-left: 0;}
    12%{margin-left: 0;}
    16%{margin-left: -20%;}
    28%{margin-left: -20%;}
    32%{margin-left: -40%;}
    44%{margin-left: -40%;}
    48%{margin-left: -60%;}
    60%{margin-left: -60%;}
    64%{margin-left: -80%;}
    76%{margin-left: -80%;}
    80%{margin-left: -100%;}
    84%{margin-left: -100%;}    
    92%{margin-left: 0;}
    100%{margin-left:0}
}*/
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}
.bar:hover{
    background-color: #fff ;
}
input{
    display: none;
}
#slide1:checked ~ .title{
    margin-left: 0;
}
#slide2:checked ~ .title{
    margin-left: -20%;
}
#slide3:checked ~ .title{
    margin-left: -40%;
}
#slide4:checked ~ .title{
    margin-left: -60%;
}
#slide5:checked ~ .title{
    margin-left: -80%;
}
#slide6:checked ~ .title{
    margin-left: -100%;
}

.nav{
    position: sticky;
    display: flex;
    margin: 0;
    width: 100%;
    height: 8vh;
    justify-content: center;
    font-family:  monospace;
    background-color: #000826;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.menu .link{
    position: relative;
    text-decoration: none;
    padding: 7px 0;
    font-size: 1.3rem;
    color: #ff5816;
}
section{
    position: relative;
}
.division{
    position: absolute;
    height: 20%;
    background: #e8eef2;
}
.content{
    overflow: hidden;
    position: relative;
    padding-top:40px;
    width: 80%;
    height: 90%;
    text-align: left;
}
/*as informações sobre o curso*/
.sobre{
    height: 100%;
    display: flex;
    background:#02152b ;
    justify-content: center;
}
.sobre p{
    color: #c7d3dd;
    padding: 5px;
    font-family: var(--font);
}
.s1{
    position: relative;
    width: 50%;
    height: 15%;
}
.s2{
    display: flex;
    width: 100%;
    height: 80%;
}
.imgcont{
    width: 60%;
    height: 80%;
    /*background: url('../imgs/gemini.png') no-repeat center center;*/
}
.imgcont img{
    width: 100%;
}
.textcont{
    width: 40%;
    height: 100%;
    margin-left: 12px;
}
.collapsible{
    margin: auto;
    max-width: 450px;
    overflow: hidden;
    font-weight: 500;
}
.collapsible label{  
    position: relative;
    font-weight: 600; 
    background: #fff;
    box-shadow: 0 5px 11px 0 #353535;
    color: #02152b;
    display: block;
    margin-bottom: 10px;
    cursor: pointer ;
    padding: 15px;
    border-radius: 4px;  
    z-index: 1;
}
.collapsible input{
    display: none;
}
.collapsible label::after{
    content: "";
    position: absolute;
    right: 15px;
    top: 20px;
    width: 18px;
    height: 18px;
    background: url('../imgs/arrow2.png') no-repeat 0 0;
    background-size: cover;
    transition: all 0.3s ease;
}
.collapsible input:checked + label::after{
    transform:rotate(180deg) ;
} 
.collapsible-text{
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.2;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}
.collapsible input:checked ~ .collapsible-text{
    max-height: 300px;
    padding-bottom: 25px;
    background: #fff;
    box-shadow: 0 5px 11px 0 #353535;
    opacity: 1;
    top: 0;
}
.collapsible-text h2{
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: #02152b;
}
.collapsible-text p{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #02152b;
}
.curso-collap{
    margin: auto;
    margin-top: 10px;
    max-width: 450px;
    overflow: hidden;
    font-weight: 500;
}
.curso-collap label{  
    position: relative;
    font-weight: 600; 
    background: #fff;
    box-shadow: 0 5px 11px 0 #353535;
    color: #02152b;
    display: block;
    margin-bottom: 10px;
    cursor: pointer ;
    padding: 15px;
    border-radius: 4px;  
    z-index: 1;
}
.curso-collap input{
    display: none;
}
.curso-collap label::after{
    content: "";
    position: absolute;
    right: 15px;
    top: 20px;
    width: 18px;
    height: 18px;
    background: url('../imgs/arrow2.png') no-repeat 0 0;
    background-size: cover;
    transition: all 0.3s ease;
}
.curso-collap input:checked + label::after{
    transform:rotate(180deg) ;
} 
.curso-text{
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.2;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}
.curso-collap input:checked ~ .curso-text{
    max-height: 300px;
    padding-bottom: 25px;
    background: #fff;
    box-shadow: 0 5px 11px 0 #353535;
    opacity: 1;
    top: 0;
}
.curso-text h2{
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: #02152b;
}
.curso-text p{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #02152b;
}
.grade{
    margin-top: 4%;
    width: 100%;
    height: 100%;
}
.grade h2 {
    padding: 2px;
    font-size: 2rem;
    color: #c7d3dd;
}
.grade p{
    color: #c7d3dd;
}
.grade-c{
    border: solid #000826 3px ;
    border-radius: 4px;
    column-count: 4;
    background-color: #fff;
    margin-bottom: 4%;
}
.grade-c p{
    color: #02152b;
}

/*informações das áreas e mercado de trabalho*/
.areas{
    height: 100%;
    display: flex;
    background:#02152b ;
    justify-content: center;
    text-align: center;
}
.areas p{
    color: #c7d3dd;
    padding: 5px;
}
.area-info{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
}
.area-text{
    background: #ccdbdc ;
    margin-top: 6px;
    width: 40%;
    height: 100%;
    border: solid #003e85 3px;
    border-radius: 5px;
}
.area-text p{
    color: #02152b;
}
.area-text-cont{
    padding: 5px;
    margin: auto;
    width: 90%;
}
.startup{
    position: relative;
    margin: auto;
    margin-left: 5%;
    width: 60%;
    height: 100%;
}
.startup img{
    width: 100%;
}
.startup-text{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0.5);
    color: #fff;
}
.startup-textcont{
    /*position: relative;*/ 
    margin: auto;
    margin-top: 10%;
    width: 70%;
    height: 80%;
}
.startup-textcont p{
    font-size: 1rem;
}
.uni-area{
    margin-top: 20px;
    margin-bottom: 10px;
}
/*universidades*/
.uni{
    height: 100%;
    display: flex;
    background:#02152b ;
    justify-content: center;
    text-align: left;
}
.container{
    position: relative;
    width: 1375px;
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.container .box{
    position: relative;
    width: 275px;
    height: 275px;
    overflow: hidden;
    transition: .5s;
}
.container .box:hover{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
}
.container .box .unibx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .box .unibx::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(180deg, #4ea1ff,#000);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: .5s;
}
.container .box:hover .unibx::before{
    opacity: 1;
}
.container .box .unibx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .box .uni-cont{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 20px;
    align-items: flex-end;
}
.container .box .uni-cont h2{
    color: #fff;
    transition: .6s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(300px);
}
.container .box:hover .uni-cont h2{
    transform: translateY(0);
    transition-delay: .5s;
}
.container .box .uni-cont p{
    color: #fff;
    transform: translateY(300px);
    transition: .6s;
    font-size: 14px;
}
.container .box:hover .uni-cont p{
    transform: translateY(0);
    transition-delay: .6s;
}

/*especializações*/
.esp{
    height: 60vh;
    display: flex;
    background:#02152b ;
    justify-content: center;
    text-align: center;
}
/*pos-graduação*/
.pos{
    height: 60vh;
    display: flex;
    background:#02152b ;
    justify-content: center;
    text-align: center;
}
.content h1{
    color: #c7d3dd;
    font-size: 3rem;
}