*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #e8eef2;
    font-family:  'Bahnschrift Condensed';
}
.top{
    position: relative;
    height:90vh;
    width: 100%;  
    overflow: hidden;
}
.slides{
    width: 600%;
    height: 100%;
    animation: slid 40s infinite ease-out;
    display: flex;
}
.title{
    background: url('../imgs/space2.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    width:20%;
    /*position: relative;*/
    color: #c7d3dd;
    font-family:  monospace;
    transition: .8s;
    /*animation: slid 40s infinite ease-out;*/
}
.title h1{
    font-size: 50px;
    text-transform: uppercase;
    position: relative;
    top: 30%;
    transform: translateY(-30%);
}
.title h1::after{
    content: '';
    margin: 10px auto;
    width: 400px;
    height: 4px;
    background: currentColor;
    display: block;
}
.title p{
    font-size: 1.2em;
    position: relative;
    top: 40%;
    font-weight: bold;
}
.sh{
    background-color: #002773;
    width:20%;
}
.ah{
    background-color: #A1B0AB;
    width:20%;
}
.eh{
    background-color: #e8eef2;
    width:20%;
}
.uh{
    background-color: #000000;
    width:20%;
}
.ph{
    background-color: #c7d3dd;
    width:20%;
}
.scontent{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
}
/*@keyframes slid{
    0%{margin-left: 0;}
    12%{margin-left: 0;}
    16%{margin-left: -20%;}
    28%{margin-left: -20%;}
    32%{margin-left: -40%;}
    44%{margin-left: -40%;}
    48%{margin-left: -60%;}
    60%{margin-left: -60%;}
    64%{margin-left: -80%;}
    76%{margin-left: -80%;}
    80%{margin-left: -100%;}
    84%{margin-left: -100%;}    
    92%{margin-left: 0;}
    100%{margin-left:0}
}*/
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}
.bar:hover{
    background-color: #fff ;
}
input{
    display: none;
}
#slide1:checked ~ .title{
    margin-left: 0;
}
#slide2:checked ~ .title{
    margin-left: -20%;
}
#slide3:checked ~ .title{
    margin-left: -40%;
}
#slide4:checked ~ .title{
    margin-left: -60%;
}
#slide5:checked ~ .title{
    margin-left: -80%;
}
#slide6:checked ~ .title{
    margin-left: -100%;
}

.nav{
    position: relative;
    display: flex;
    margin: 0;
    width: 100%;
    height: 8vh;
    justify-content: center;
    font-family:  monospace;
    background-color: #000826;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.menu .link{
    position: relative;
    text-decoration: none;
    padding: 7px 0;
    font-size: 1.3rem;
    color: #ff5816;
}
section{
    position: relative;
    z-index: -1;
}
.sobre{
    height: 60vh;
    display: flex;
    background:#02152b ;
    justify-content: center;
    text-align: center;
}
.content{
  margin: auto;
  width: 90%;
  height: 80%;
}
.areas{
    height: 60vh;
    display: flex;
    background:#02152b ;
    justify-content: center;
    text-align: center;
}
.esp{
    height: 60vh;
    display: flex;
    background:#02152b ;
    justify-content: center;
    text-align: center;
}
.uni{
    height: 60vh;
    display: flex;
    background:#02152b ;
    justify-content: center;
    text-align: center;
}
.pos{
    height: 60vh;
    display: flex;
    background:#02152b ;
    justify-content: center;
    text-align: center;
}
